
.doc-toc {
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: 200px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10000;
}

.doc-toc a {
    color: inherit !important;
    text-decoration: none;
}

.doc-toc:before {
    content: '本页目录';
    margin: 0;
    padding: 0;
    padding-left: 15px;
    font-size: 14px;
    line-height: 32px;
    font-weight: 600;
    color: #373d41;
    display: block;
    border-left: 4px solid #cacaca
}

.doc-toc ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.doc-toc>ul>li {
    color: #2f2f2f;
    height: auto;
    line-height: 32px;
    padding-left: 15px;
    cursor: pointer;
    border-left: 4px solid #cacaca;
}

.doc-toc>ul>li:first-child {
    margin-top: 0;
}

.doc-toc>ul>li:last-child {
    margin-bottom: 0;
}

.doc-toc>ul>li>ul {
    padding: 1em 0;
    font-size: 0.83em;
}

.doc-toc>ul>li>ul>li {
    margin-left: -4px;
    padding-left: 20px;
    font-size: 0.83em;
    color: #2f2f2f;
    height: auto;
    line-height: 32px;
    padding-left: 15px;
    cursor: pointer;
    border-left: 4px solid #cacaca;
}
